body {
    --black: #000000;
    --white: #ffffff;
    --green: #6d9773;
    --green2: #0c3a2d;
    --green3: #23351a;
    --grey: #f2f2f2;
    --grey2: #505050;
    --orange: #ffb902;

    font-family: "Roboto", sans-serif;
    font-size: 20px;
    line-height: 30px;
    background-color: var(--black);
    color: var(--white);
    opacity: 0;
}

.bottom-line {
    display: inline-block;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        transform: rotate(-1.48deg);
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 5px;
        background-color: var(--white);
    }

    .green-menu & {
        &::after {
            background-color: var(--green);
        }
    }
}

.arrow-scroll {
    position: absolute;
    left: 50%;
    width: 3em;
    height: 4.7em;
    bottom: 3.8em;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/arrow-scroll.svg) no-repeat center center;
    background-size: contain;

    &.arrow-green {
        background: url(../img/arrow-scroll-green.svg) no-repeat center center;
        background-size: contain;
    }
}

.color-green {
    color: var(--green);
}
