body {
    --black: #000000;
    --white: #ffffff;
    --lightgrey: #FAFAFA;
    --yelloygreen: #CFFD51;
    --yelloy: #FBE875;
    --red: #C9223A;
    --grey:#A6A5A2;
    --bs-gutter-x: 15px;
    --header-gap: 135px;
    --header-gap-mobile: 67px;
    --swiper-height: 740px;

    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;

    &.home {
        background-color: var(--black);
        color: var(--white);
    }
}

.radius-bottom-right {
    border-bottom-right-radius: 80px;
}
