.home-swiper {
    overflow: hidden;

    .swiper {
        &-slide {
            min-height: 740px;

            &-bgimg {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &-button {
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            [type="button"] {
                &:hover {
                    opacity: 0.8;
                }
            }

            &-next {
                transform: rotate(180deg);
            }
        }
    }

    #slide-1 {
        .___text {
            top: 115px;
            left: 100px;
            position: absolute;

            @include media-breakpoint-down(md) {
                position: static;
                margin: 40px 60px 25px;

                @include media-breakpoint-down(sm) {
                    margin: 40px 0 25px;
                }
            }
        }
        .___title {
            color: var(--white);
            padding: 85px;
            background-color: var(--red);
            margin: 0 0 25px 0;

            @include media-breakpoint-down(xl) {
                padding: 85px 40px;

                @include media-breakpoint-down(sm) {
                    padding: 40px;
                }
            }

            h3 {
                font-size: 84px;
                font-weight: 700;

                @include media-breakpoint-down(sm) {
                    font-size: 64px;
                }
            }

            h6 {
                font-size: 40px;
                font-weight: 700;
                margin: 0 0 40px;

                @include media-breakpoint-down(sm) {
                    font-size: 28px;
                    font-weight: 700;
                    margin: 0 0 20px;
                }
            }

            p {
                margin: 0;
            }
        }

        .___more {
            background: var(--white);
            color: var(--black);
            font-size: 24px;
            padding: 35px 40px;

            @include media-breakpoint-down(sm) {
                padding: 20px 40px;
            }
        }

        .___link {
            position: absolute;
            font-size: 28px;
            font-weight: 700;
            color: var(--black);
            background: var(--yelloygreen);
            padding: 35px 115px;
            border: 1px solid var(--yelloygreen);
            top: 530px;
            right: 100px;

            @include media-breakpoint-down(xl) {
                font-size: 24px;
                padding: 35px 60px;
                top: 540px;
                right: 100px;

                @include media-breakpoint-down(md) {
                    position: static;
                    display: block;
                    margin: 0 60px 60px 60px;

                    @include media-breakpoint-down(sm) {
                        margin: 0 0 40px;
                        padding: 20px 40px;
                    }
                }
            }

            &:hover {
                background: #cffc525e;
            }
        }
    }
}