.home-swiper {
    overflow: hidden;

    &.swiper-height {
        .swiper {
            &-slide {
                min-height: var(--swiper-height);
            }
        }
    }

    .swiper {
        &-slide {

            &-bgimg {
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }

        &-button {
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;

            [type="button"] {
                &:hover {
                    opacity: 0.8;
                }
            }

            &-next {
                transform: rotate(180deg);
            }

            &-wrap {
                height: 0;
            }
        }
    }

    .slide-type-1, .slide-type-2, .slide-type-3, .slide-type-4 {
        .___link {
            position: absolute;
            font-size: 28px;
            font-weight: 700;
            color: var(--black);
            background: var(--yelloygreen);
            padding: 35px 115px;
            border: 1px solid var(--yelloygreen);
            top: 530px;
            right: 100px;

            @include media-breakpoint-down(xl) {
                font-size: 24px;
                padding: 35px 60px;
                top: 540px;
                right: 100px;

                @include media-breakpoint-down(md) {
                    position: static;
                    display: block;
                    margin: 0 60px 60px 60px;

                    @include media-breakpoint-down(sm) {
                        margin: 0 0 40px;
                        padding: 20px 40px;
                    }
                }
            }

            &:hover {
                background: #cffc525e;
            }
        }
    }

    .slide-type-1 {
        .___text {
            top: 115px;
            left: 100px;
            position: absolute;

            @include media-breakpoint-down(md) {
                position: static;
                margin: 40px 60px 25px;

                @include media-breakpoint-down(sm) {
                    margin: 40px 0 25px;
                }
            }
        }
        .___title {
            color: var(--white);
            padding: 85px;
            background-color: var(--red);
            margin: 0 0 25px 0;

            @include media-breakpoint-down(xl) {
                padding: 85px 40px;

                @include media-breakpoint-down(sm) {
                    padding: 40px;
                }
            }

            h3 {
                font-size: 84px;
                font-weight: 700;

                @include media-breakpoint-down(sm) {
                    font-size: 64px;
                }
            }

            h6 {
                font-size: 40px;
                font-weight: 700;
                margin: 0 0 40px;

                @include media-breakpoint-down(sm) {
                    font-size: 28px;
                    font-weight: 700;
                    margin: 0 0 20px;
                }
            }

            p {
                margin: 0;
            }
        }

        .___more {
            background: var(--white);
            color: var(--black);
            font-size: 24px;
            padding: 35px 40px;

            @include media-breakpoint-down(sm) {
                padding: 20px 40px;
            }
        }
    }

    .slide-type-2 {
        .___text {
            position: absolute;
            padding: 75px;
            background: var(--yelloy);
            color: var(--black);
            width: 861px;
            top: calc(var(--swiper-height) / 2);
            transform: translateY(-50%);
            left: 100px;

            @include media-breakpoint-down(md) {
                position: static;
                width: auto;
                margin: 60px;
                transform: translateY(0);

                @include media-breakpoint-down(sm) {
                    margin: 40px 0;
                    padding: 60px 60px;
                }
            }

            h3 {
                font-size: 46px;
                font-weight: 700;

                @include media-breakpoint-down(md) {
                    font-size: 24px;
                }
            }

            p {
                @include media-breakpoint-down(md) {
                    font-size: 18px;
                }
            }
        }
    }

    .slide-type-3 {
        background: var(--grey);

        .swiper-slide-wrap {
            min-height: calc(var(--swiper-height) - 140px);
            top: 70px;
            position: relative;

            @include media-breakpoint-down(lg) {
                background: none;

                @include media-breakpoint-down(sm) {
                    position: initial;
                }
            }
        }

        .___title {
            color: var(--black);
            background-color: var(--white);
            padding: 95px 85px 60px;
            width: 766px;
            font-size: 60px;
            font-weight: 700;
            line-height: 73px;
            margin: 0 0 0 60px;
            border-right: 40px solid var(--grey);

            @include media-breakpoint-down(lg) {
                width: auto;
                margin: 0 60px 40px 60px;
                font-size: 44px;
                line-height: 54px;
                padding: 60px;
                border: none;

                @include media-breakpoint-down(sm) {
                    margin: 30px 0;
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            .label-new {
                &:after {
                    @include media-breakpoint-down(sm) {
                        font-size: 24px;
                    }
                }
            }
        }

        .___text {
            background-color: var(--yelloy);
            padding: 35px 85px;
            color: var(--black);
            border-right: 40px solid var(--grey);
            border-top: 40px solid var(--grey);
            width: 1000px;
            margin: 0 0 0 60px;

            @include media-breakpoint-down(lg) {
                border: none;
                margin: 0 60px 40px 60px;
                width: auto;
                padding: 40px 60px;

                @include media-breakpoint-down(sm) {
                    margin: 0 0 30px 0;
                }
            }
        }

        .___link {
            top: initial;
            right: 0;
            bottom: 0;

            @include media-breakpoint-down(xl) {
                font-size: 24px;
                padding: 35px 60px;
                top: initial;
                bottom: 0;
                right: 0;

                @include media-breakpoint-down(lg) {
                    position: static;
                    display: block;
                    margin: 0 60px 60px;

                    @include media-breakpoint-down(sm) {
                        margin: 0 0 30px 0;
                    }
                }
            }
        }
    }

    .slide-type-4 {
        background: var(--orange);

        .swiper-slide-wrap {
            min-height: calc(var(--swiper-height) - 140px);
            top: 70px;
            position: relative;

            @include media-breakpoint-down(md) {
                background: none;
            }
        }

        .swiper-slide-video {
            left: 0;
            height: 100%;
            width: 57%;
            top: 0;
            z-index: 0;
            padding: 0 5px;

            @include media-breakpoint-down(md) {
                width: 100%;
            }

            &:after {
                position: absolute;
                content: "";
                background-image: url("../img/video-mask.png");
                background-position: left top;
                background-repeat: no-repeat;
                background-size: cover;
                z-index: 10;
                width: 100%;
                height: 101%;

                @include media-breakpoint-down(md) {
                    background-image: none;
                }
            }
        }

        .___text {
            padding: 0 85px 0 0;
            width: 55%;
            z-index: 1;

            @include media-breakpoint-down(md) {
                padding: 0 60px;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    padding: 0;
                }
            }
        }

        .___title {
            color: var(--black);
            background: var(--grey);
            padding: 60px 85px;
            margin: 0 0 25px 0;

            @include media-breakpoint-down(sm) {
                padding: 40px;
            }

            p {
                line-height: 1;
                margin: 0 0 30px 0;
                font-weight: 700;
            }

            h3 {
                font-size: 84px;
                line-height: 1;
                margin: 0 0 30px 0;
                font-weight: 700;

                @include media-breakpoint-down(lg) {
                    font-size: 60px;
                }
            }

            h6 {
                font-size: 40px;
                line-height: 1;
                margin: 0;
                font-weight: 700;

                @include media-breakpoint-down(sm) {
                    font-size: 22px;
                }
            }
        }

        .___time {
            font-size: 24px;
            color: var(--white);
            background: var(--black);
            padding: 35px;
            margin: 0 25px 0 0;
            text-align: center;

            @include media-breakpoint-down(sm) {
                margin: 0 0 25px 0;
            }
        }

        .___more{
            .___link {
                position: static;
                padding: 35px;
                flex: auto;
                display: flex;
                align-items: center;
                justify-content: center;

                @include media-breakpoint-down(md) {
                    margin: 0;

                    @include media-breakpoint-down(sm) {
                        margin: 0
                    }
                }
            }
        }
    }

    .slide-type-5 {
        background: var(--white);

        .swiper-slide-wrap {
            min-height: calc(var(--swiper-height) - 140px);
            top: 70px;
            position: relative;

            @include media-breakpoint-down(md) {
                position: static;
                padding: 40px 0 0 0;
            }
        }

        .___item {
            position: relative;

            img {
                aspect-ratio: 567/613;
                object-fit: cover;
                width: 100%;

                @include media-breakpoint-down(md) {
                    aspect-ratio: 925/200;
                }
            }
        }

        .col-md-4 {
            @include media-breakpoint-down(md) {
                margin: 0 0 40px 0;
            }

            &:last-child {
                @include media-breakpoint-down(md) {
                    margin: 0;
                }
            }
        }

        .___text {
            position: absolute;
            bottom: 0;
            left: 0;
            font-weight: 700;
            padding: 20px;
            background: var(--red);
            width: 80%;

            @include media-breakpoint-down(lg) {
                font-size: 18px;
            }
        }

        .label-inprogramm {
            &:after {
                @include media-breakpoint-down(lg) {
                    font-size: 20px;
                }
            }
        }
    }
}

.programm-swiper {
    overflow: hidden;

    &-container {
        padding: 0 100px;
        overflow: hidden;
        margin: 0 0 45px 0;

        @include media-breakpoint-down(lg) {
            padding: 0 40px;
        }
    }

    .swiper-slide {
        &__tab {
            text-align: center;
            padding: 10px;
            line-height: 1;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                padding: 4px;
            }

            .___time {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: bold;

                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
            }

            .___day {
                color: #979797;
                font-size: 14px;

                @include media-breakpoint-down(sm) {
                    font-size: 8px;
                }
            }

            &:hover, &.active {
                background-color: var(--black);

                .___time, .___day {
                    color: var(--white);
                }
            }

        }
    }

    .swiper-button-prev, .swiper-button-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--white);
        border: 1px solid var(--black);
        width: 33px;
        height: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
        transform: translateY(-50%) rotate(180deg);
    }
}