.projects {
    overflow: hidden;
    background-color: var(--grey);
    padding: 160px 0 200px;
    position: relative;
    margin: -1px 0 0 0;

    @media (max-width: 768px) {
        padding: 90px 0;
    }

    &-container {
        margin: 0 auto;
        padding: 0 10px;
        max-width: 1190px;
    }

    &-title {
        font-family: Tenor Sans;
        font-size: 36px;
        text-transform: uppercase;
        font-weight: 100;
        text-align: center;
        color: var(--green3);
        margin: 0 0 60px 0;

        @media (max-width: 768px) {
            font-size: 30px;
            color: var(--green);
            margin: 0 0 -40px;
        }
    }
}
