.services {
    position: relative;
    overflow: hidden;
    background-color: var(--grey);
    transition: background-color ease-out 0.8s;

    #services-1 {
        padding: 22.8em 0 12.8em;
        position: relative;

        h2 {
            font-family: Tenor Sans, sans-serif;
            color: var(--green);
            padding: 0;
            margin: 0 0 4.4em;
            text-transform: uppercase;
            font-weight: 100;

            span {
                font-size: 4.7em;
            }
        }

        .services-title {
            img {
                width: 13em;
            }
        }

        .img-bg {
            width: 7.9em;
            transform: rotate(33.27deg);
            top: 36.1em;
            left: 127.9em;
        }

        .img-main {
            top: 17.5em;
            left: 103.1em;
            width: 45.4em;
            transform: rotate(-5.71deg);
        }
    }

    #services-2 {
        padding: 13.3em 0 12.6em 0;
        position: relative;

        .services-title {
            img {
                width: 14.3em;
            }
        }

        .img-bg {
            width: 7.9em;
            transform: rotate(33.27deg);
            top: 36.1em;
            left: 127.9em;
        }

        .img-main {
            top: 40.5em;
            left: 106.1em;
            width: 45.4em;
            transform: rotate(-0.71deg);
        }
    }

    #services-3 {
        padding: 16.3em 0 12.6em;
        position: relative;

        .services-title {
            img {
                width: 14.3em;
            }
        }

        .img-bg {
            width: 6.3em;
            transform: rotate(-17.4deg);
            top: 67.3em;
            left: 7.6em;
        }

        .img-main {
            top: 31.5em;
            left: 114.9em;
            width: 29.3em;
            transform: rotate(4.3deg);
        }
    }

    #services-4 {
        padding: 16.3em 0 12.6em;
        position: relative;

        .services-title {
            img {
                width: 8.9em;
            }
        }

        .img-bg {
            width: 9.7em;
            transform: rotate(21.34deg);
            top: 71.5em;
            left: 122.8em;
        }

        .img-main {
            top: 40.7em;
            left: 107.4em;
            width: 35.7em;
            transform: rotate(2.89deg);
        }
    }

    #services-5 {
        padding: 16.3em 0 6.6em;
        position: relative;

        .services {
            &-content {
                padding: 3.9em 17em 6em 7.4em;

                &.item-2 {
                    transform: translate(461px, -58px);
                    border: 1px solid var(--green2);
                }
            }

            &-container {
                margin: 0 0 0 36.4em;
                width: 88.4em;
            }

            &-title {
                img {
                    margin: 0 4em 0 0;
                    width: 11.3em;
                }

                span {
                    font-size: 2.7em;
                }
            }
        }

        .img-bg {
            width: 9.7em;
            transform: rotate(-51.19deg);
            top: 82.5em;
            left: 14.8em;
        }

        .img-main {
            top: 48.8em;
            left: -4.4em;
            width: 42.6em;
            transform: rotate(-6.27deg);
        }
    }

    &-container {
        margin: 0 0 0 21.2em;
        width: 119.2em;
    }

    &-content {
        color: var(--black);
        background: var(--white);
        border-radius: 1.5em;
        position: relative;
        padding: 5em 17em 6em 9.8em;

        &-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .link-more {
                border: 1px solid var(--green);
                color: var(--green);
                text-transform: uppercase;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5.8em;
                font-weight: 500;
                width: 35.7em;
                height: 5.8em;
                text-decoration: none;
                transition: all ease 0.33s;

                &:hover {
                    background: rgba($color: #6d9773, $alpha: 0.1);
                }

                span {
                    font-size: 1.8em;
                }
            }
        }

        &-ex {
            font-size: 1.6em;
            line-height: 1.6em;
            width: 23em;

            .title {
                text-transform: uppercase;
                color: var(--green);
            }

            a {
                color: var(--grey2);
                text-decoration: underline;
                transition: all ease 0.3s;

                &:hover {
                    text-decoration: none;
                    opacity: 0.8;
                }
            }
        }

        &-price {
            span {
                font-size: 2em;
            }
        }
    }

    &-title {
        color: var(--green);
        font-family: Tenor Sans, sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        display: flex;
        align-items: center;
        margin: 0 0 5.4em 0;

        img {
            margin: 0 5.1em 0 0;
            display: block;
            height: auto;
        }

        span {
            font-size: 4em;
        }
    }

    &-text {
        font-weight: 500;
        margin: 0 0 5em 0;

        ul {
            line-height: 3em;
            list-style: none;
            padding: 0 0 0 2.3em;
            margin: 0;

            li {
                font-size: 2em;
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    top: 10px;
                    left: -25px;
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    background: var(--green);
                }
            }
        }
    }

    &-image {
        position: absolute;
        height: auto;
    }

    &-trophy {
        position: absolute;
        display: none;
    }

    #trophy {
        position: absolute;
        top: 62.6em;
        left: 159.9em;
        width: 23.5em;
        height: auto;
        z-index: 5;

        img {
            width: 100%;
            height: auto;
        }
    }

    #services-menu {
        position: absolute;
        top: 20.5em;
        left: 143.3em;
        z-index: 4;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                font-family: Tenor Sans, sans-serif;
                font-weight: 100;
                line-height: 4em;

                a {
                    text-decoration: none;
                    font-size: 1.8em;
                    text-transform: uppercase;
                    color: var(--green);
                    transition: all ease 0.8s;
                    transform: translateX(0);
                    position: relative;
                    display: inline-block;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                &.active {
                    a {
                        color: var(--white);
                        transform: translateX(1.9em);
                    }
                }
            }
        }
    }

    &.services-menu-green {
        #services-menu {
            ul {
                li {
                    &.active {
                        a {
                            color: var(--white);
                        }
                    }

                    a {
                        color: var(--green);
                    }
                }
            }
        }
    }

    &.services-menu-green2 {
        #services-menu {
            ul {
                li {
                    &.active {
                        a {
                            color: var(--white);
                        }
                    }

                    a {
                        color: var(--green2);
                    }
                }
            }
        }
    }

    &.services-menu-grey {
        #services-menu {
            ul {
                li {
                    &.active {
                        a {
                            color: var(--green2);
                        }
                    }

                    a {
                        color: #808080;
                    }
                }
            }
        }
    }
}

.is-mobile {
    .services {
        background-color: var(--green);

        &-container {
            margin: 0 1em;
            width: auto;
            max-width: 100%;
        }

        #services-1 {
            padding: 91px 0 0 0;

            h2 {
                text-align: center;
                margin: 0 0 18px 0;

                span {
                    font-size: 2em;
                }
            }

            .services-title {
                img {
                    width: 9em;
                }
            }

            .img-bg {
                width: 4.1em;
                transform: rotate(33.27deg);
                top: 64em;
                left: 26em;
            }

            .img-main {
                position: relative;
                transform: rotate(0) translateX(-50%);
                left: 50%;
                top: 0;
                width: auto;
                display: block;
            }
        }

        #services-2 {
            padding: 3em 0;

            .services-title {
                img {
                    width: 14.3em;
                }
            }

            .img-bg {
                display: none;
            }

            .img-main {
                position: relative;
                transform: rotate(0) translateX(-50%);
                left: 50%;
                top: 0;
                width: auto;
                display: block;
            }
        }

        #services-3 {
            padding: 0 0 3em;
            position: relative;

            .services-title {
                img {
                    width: 14.3em;
                }
            }

            .img-bg {
                display: none;
            }

            .img-main {
                position: relative;
                transform: rotate(0) translateX(-50%);
                left: 50%;
                top: 0;
                width: auto;
                display: block;
            }
        }

        #services-4 {
            padding: 0 0 3em;
            position: relative;

            .services-title {
                img {
                    width: 7.3em;
                }
            }

            .img-bg {
                display: none;
            }

            .img-main {
                position: relative;
                transform: rotate(0) translateX(-50%);
                left: 50%;
                top: 0;
                width: auto;
                display: block;
            }
        }

        #services-5 {
            padding: 0 0 3em;
            position: relative;

            .services {
                &-content {
                    border-radius: 0.5em;
                    padding: 2em 1em 3em;

                    &.item-2 {
                        transform: translate(0, 0);
                        border: none;
                        margin: 3em 0 0 0;
                    }
                }

                &-container {
                    margin: 0 1em;
                    width: auto;
                    max-width: 100%;
                }

                &-title {
                    flex-direction: column;
                    align-items: center;
                    margin: 0 0 2.7em;
                    text-align: center;

                    img {
                        margin: 0 0 1.9em;
                        width: 7.3em;
                    }

                    span {
                        font-size: 2em;
                    }
                }
            }

            .img-bg {
                display: none;
            }

            .img-main {
                position: relative;
                transform: rotate(0) translateX(-50%);
                left: 50%;
                top: 0;
                width: auto;
                display: block;
            }
        }

        &-content {
            border-radius: 0.5em;
            padding: 2em 1em 3em;

            &-buttons {
                flex-direction: column-reverse;

                .link-more {
                    width: 100%;
                    margin: 3em 0 0 0;
                    height: 3.8em;

                    span {
                        font-size: 1.4em;
                    }
                }
            }

            &-ex {
                font-size: 1.4em;
                line-height: 1.4em;
                width: 100%;

                a {
                    color: var(--grey2);
                    text-decoration: underline;
                    transition: all ease 0.3s;

                    &:hover {
                        text-decoration: none;
                        opacity: 0.8;
                    }
                }
            }
        }

        &-title {
            flex-direction: column;
            align-items: center;
            margin: 0px 0 2.7em 0;

            img {
                margin: 0 0 1.9em 0;
            }

            span {
                font-size: 2em;
            }
        }

        &-text {
            margin: 0 1em 0;

            ul {
                line-height: 2em;

                li {
                    margin: 0 0 1.7em 0;
                    font-size: 1.4em;

                    &:after {
                        top: 2px;
                        left: -25px;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

        &-images {
            position: absolute;
            height: auto;

            &-wrap {
                overflow: hidden;
                position: relative;
            }

            &-mobile {
                position: relative;
                margin: 3.8em 0 7em;
            }
        }

        &-trophy {
            position: absolute;
            display: block;
            bottom: -5.8em;
            width: 10.1em;
            height: 10.1em;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    #services-menu,
    #trophy,
    .arrow-scroll {
        display: none;
    }
}
