#about-1 {
    background: var(--green);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .about-logo {
        width: 29.3em;
        margin: 0 0 6.5em;
        z-index: 5;

        img {
            width: 100%;
            height: auto;
            position: relative;
            z-index: 5;
        }
    }

    h2 {
        font-family: Tenor Sans, sans-serif;
        color: var(--white);
        padding: 0;
        margin: 0 0 4.5em -1em;
        text-transform: uppercase;
        font-weight: 100;

        span {
            font-size: 8em;
        }
    }

    .about-subtitle {
        color: var(--green3);
        font-weight: 500;
        line-height: 4.4em;
        width: 57%;
        margin: 0 0 12em;

        span {
            font-size: 3.8em;
        }
    }

    p {
        color: var(--green2);
        line-height: 3em;
        margin: 0;
        padding: 0;
        width: 63%;

        span {
            font-size: 2.4em;
        }
    }

    .about-images {
        position: absolute;
        height: auto;
    }

    #about-1-1 {
        width: 47.2em;
        transform: rotate(-1.39deg);
        top: 50%;
        margin-top: -22.6em;
        left: 113em;
    }

    #about-1-2 {
        width: 52.3em;
        transform: rotate(5.64deg);
        top: 50%;
        margin-top: 1.8em;
        left: 121.4em;
    }

    #about-1-3 {
        display: none;
    }
}

#about-2 {
    background: var(--green);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .about-wrap {
        max-width: 119em;
        position: absolute;
        top: 50%;
        margin-top: -16.5em;
    }

    .about-logo {
        width: 29.3em;
        z-index: 5;
        display: inline-block;
        margin: 1.2em 1em 0 0;

        img {
            width: 100%;
            height: auto;
        }
    }

    .about-title {
        font-weight: 500;
        color: var(--green2);
        margin: 0 0 5.6em 0;
        display: flex;
        align-items: center;

        span {
            font-size: 2.8em;

            &.hide {
                display: none;
            }
        }
    }

    .about-list {
        display: flex;

        &-item {
            color: var(--green2);
            line-height: 3.1em;
            margin: 0 0 3.8em 0;

            .disc {
                width: 1.2em;
                height: 1.2em;
                background: var(--orange);
                display: inline-block;
                border-radius: 100%;
                margin: 0 0.6em 0.3em 0.3em;
            }

            span {
                font-size: 2.4em;
            }
        }
    }

    .about-left,
    .about-right {
        width: 50%;
    }

    .about-left {
        margin-right: 3.2em;
    }

    .about-images {
        position: absolute;
        height: auto;
    }

    #about-2-1 {
        left: 15em;
        top: 50%;
        margin-top: 16.8em;
        width: 13.4em;
    }

    #about-2-2 {
        width: 6.3em;
        left: 31.7em;
        top: 50%;
        margin-top: 25.6em;
    }

    #about-2-3 {
        width: 11.4em;
        left: 165.8em;
        top: 50%;
        margin-top: 19.4em;
    }
}

#about-3 {
    background: var(--green);
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h2 {
        font-family: Tenor Sans, sans-serif;
        color: var(--white);
        padding: 0;
        margin: 8em 0 4.2em;
        text-transform: uppercase;
        font-weight: 100;

        span {
            font-size: 5.3em;
        }
    }

    .about-subtitle {
        color: var(--green3);
        font-weight: 500;
        margin: 0 0 19.2em 0;

        span {
            font-size: 2.8em;
        }
    }

    .about-video {
        position: relative;
        margin: 0 0 67.6em 0;

        &-wrapper {
            display: flex;
            justify-content: flex-end;
            width: 119em;
            transform: translateX(18.3em);

            img {
                width: 100%;
                height: auto;
            }
        }

        &-text {
            background: var(--white);
            position: absolute;
            border-radius: 1.5em;
            bottom: -15.9em;
            left: 0.2em;
            padding: 3.5em 3em 3.5em 5.4em;
            width: 39.8em;

            p {
                color: var(--green2);
                line-height: 2.6em;

                span {
                    font-size: 2em;
                }
            }

            &:after {
                position: absolute;
                content: "";
                width: 9.1em;
                height: 9.1em;
                top: -2.9em;
                right: -2.9em;
                background: url(../img/video-icon.svg) no-repeat 50%;
                background-size: contain;
            }
        }
    }

    .about-subtitle2 {
        color: var(--green3);
        font-weight: 500;
        width: 87em;
        line-height: 5.6em;
        margin: 0 0 4.3em 0;

        span {
            font-size: 4.8em;
        }
    }

    .about-list {
        display: flex;
        margin: 0 0 12.5em 0;

        &-item {
            color: var(--green2);
            line-height: 3.1em;
            margin: 0 0 3.8em 0;

            .disc {
                width: 1.2em;
                height: 1.2em;
                background: var(--orange);
                display: inline-block;
                border-radius: 100%;
                margin: 0 0.6em 0.3em 0.3em;
            }

            span {
                font-size: 2.4em;
            }
        }
    }

    .about-left,
    .about-right {
        width: 50%;
    }

    .about-left {
        margin-right: 3.2em;
    }

    .about-images {
        position: absolute;
        height: auto;
    }

    #about-3-1 {
        width: 14.4em;
        left: 22.1em;
        top: 33em;
    }

    #about-3-2 {
        width: 64.3em;
        top: 148em;
        left: 152.5em;
        transform: rotate(-25.77deg);
        z-index: 1;
    }
}

.about {
    background: var(--green);
    overflow: hidden;

    &-container {
        max-width: 119em;
        padding: 14em 1.5em;
    }
}

.is-mobile {
    #about-1 {
        .about-container {
            padding: 1.5em 1.5em;
        }

        .about-logo {
            display: none;
        }

        h2 {
            text-align: center;
            margin: 5em 0 0 -0.1em;

            span {
                font-size: 2em;
            }
        }

        .about-subtitle {
            margin: 2.7em 0 24.4em;
            text-align: center;
            line-height: 2.4em;
            width: 100%;

            span {
                font-size: 2em;
            }
        }

        p {
            color: var(--white);
            width: 85%;
            line-height: 2em;

            span {
                font-size: 1.4em;
            }
        }

        .about-images {
            display: none;
        }

        #about-1-1 {
            left: 1.2em;
            top: 29.4em;
            margin: 0;
            width: 18.7em;
            display: block;
        }

        #about-1-2 {
            left: 11.9em;
            top: 35.7em;
            display: block;
            width: 19.2em;
            margin: 0;
        }

        #about-1-3 {
            display: block;
            width: 4.6em;
            left: 5.8em;
            top: 37.6em;
        }

        .arrow-scroll {
            display: none;
        }
    }

    #about-2 {
        .about-wrap {
            position: relative;
            margin: 0 auto;
            padding: 1em;
            width: 30em;
        }

        .about-logo {
            display: none;
        }

        .about-title {
            margin: 3.4em 0 9em 0;
            text-align: center;
            padding: 0 6em;
            line-height: 2.6em;
            display: block;

            span {
                font-size: 2em;

                &.hide {
                    display: inline;
                }
            }
        }

        .about-list {
            flex-direction: column;

            &-item {
                margin: 0 0 8em 0;
                line-height: 2em;

                .disc {
                    width: 0.9em;
                    height: 0.9em;
                    margin: 0 0.5em 0.1em 0.1em;
                }

                span {
                    font-size: 1.4em;
                }
            }
        }

        .about-left,
        .about-right {
            width: 100%;
        }

        .about-left {
            margin: 0;
        }

        #about-2-1 {
            width: 7.4em;
            top: -4.3em;
            left: 23.2em;
            margin: 0;
        }

        #about-2-2 {
            margin: 0;
            top: 11em;
            width: 4.6em;
            left: 2em;
        }

        #about-2-3 {
            width: 8.3em;
            margin: 0;
            left: 24.7em;
            top: 44.9em;
            transform: rotate(-23.59deg);
        }

        .arrow-scroll {
            display: none;
        }
    }

    #about-3 {
        .about-container {
            padding: 8em 1em 0;
            max-width: 100%;
            margin: 0 auto;
            width: 30em;
        }

        h2 {
            text-align: center;
            margin: 0;

            span {
                font-size: 2em;
            }
        }

        .about-subtitle {
            text-align: center;
            margin: 2.4em 0 4.8em 0;
            line-height: 2.6em;

            span {
                font-size: 2em;
            }
        }

        .about-video {
            margin: 0;

            &-wrapper {
                width: 100%;
                transform: translateX(0);
                position: unset;
                margin: 0 0 6em 0;
            }

            &-text {
                width: 78%;
                position: relative;
                bottom: 0;
                left: 0;
                margin: 0 auto;
                border-radius: 0.8em;
                padding: 0;

                p {
                    margin: 0;
                    text-align: center;
                    padding: 2.4em 1.8em;
                    line-height: 2em;

                    span {
                        font-size: 1.4em;
                    }
                }

                &:after {
                    width: 5.3em;
                    height: 5.3em;
                    top: -3.6em;
                    left: 50%;
                    right: 0;
                    transform: translateX(-50%);
                }
            }
        }

        .about-subtitle2 {
            width: 100%;
            text-align: center;
            line-height: 2.4em;
            margin: 6.9em 0 6.6em;

            span {
                font-size: 2em;
            }
        }

        .about-list {
            flex-direction: column;

            &-item {
                margin: 0 0 4em;
                line-height: 2em;

                .disc {
                    width: 0.9em;
                    height: 0.9em;
                    margin: 0 0.5em 0.1em 0.1em;
                }

                span {
                    font-size: 1.4em;
                }
            }
        }

        .about-left,
        .about-right {
            width: 100%;
        }

        .about-left {
            margin: 0;
        }

        #about-3-1 {
            width: 8.2em;
            top: 140.6em;
            left: 23.3em;
        }

        #about-3-2 {
            display: none;
        }

        .arrow-scroll {
            display: none;
        }
    }
}
