.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

    &-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1730px;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0 0 0;

        @media (max-width: 768px) {
            margin: 10px 0 0 0;
        }
    }

    &-logo {
        @media (max-width: 768px) {
            width: 155px;
        }

        svg {
            transition: fill ease-out 0.8s;
            fill: var(--white);
            width: 100%;
        }
    }

    &-right {
        display: flex;
        align-items: center;
        margin: 0 0 10px 0;

        @media (max-width: 1030px) {
            position: fixed;
            display: block;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            background: var(--green2);
            transform: translateY(-100%);

            &:after {
                width: 81px;
                height: 131px;
                bottom: 0;
                left: 64%;
                position: absolute;
                content: "";
                background: url(../img/tree-menu.png) no-repeat 50%;
                background-size: contain;
            }
        }
    }

    &-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @media (max-width: 1030px) {
            display: block;
            padding: 89px 0 20px 60px;
        }

        li {
            margin: 0 50px 0 0;

            @media (max-width: 1370px) {
                margin: 0 30px 0 0;

                @media (max-width: 1200px) {
                    margin: 0 20px 0 0;

                    @media (max-width: 1030px) {
                        margin: 0 0 10px;
                    }
                }
            }

            &:last-child {
                margin: 0;
            }

            a {
                color: var(--white);
                font-size: 16px;
                font-weight: 500;
                text-decoration: none;
                transition: color ease-out 0.8s;

                @media (max-width: 1200px) {
                    font-size: 14px;

                    @media (max-width: 1030px) {
                        font-size: 18px;
                        font-weight: 400;
                    }
                }

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    &.white-menu {
        background: var(--green);
        box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.38);
    }

    &.green-menu {
        background: var(--white);
        box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.38);
        .header {
            &-menu {
                li {
                    a {
                        color: var(--green);

                        @media (max-width: 1030px) {
                            color: var(--white);
                        }
                    }
                }
            }

            &-logo {
                svg {
                    fill: var(--green);
                }
            }

            &-link-more {
                color: var(--green);
                border: 1px solid var(--green);

                &:hover {
                    background-color: rgba($color: #6d9773, $alpha: 0.1);
                }
            }
        }

        .hamburger {
            .hamburger-inner,
            .hamburger-inner:after,
            .hamburger-inner:before {
                background-color: var(--green);
            }
        }
    }

    &-link-more {
        color: var(--white);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 0 50px;
        border: 1px solid var(--white);
        padding: 8px 25px;
        border-radius: 25px;
        cursor: pointer;

        @media (max-width: 1370px) {
            margin: 0 0 0 30px;

            @media (max-width: 1200px) {
                margin: 0 0 0 20px;
                font-size: 14px;

                @media (max-width: 1030px) {
                    display: none;
                }
            }
        }

        &:hover {
            background-color: rgba($color: #fff, $alpha: 0.1);
        }
    }

    .hamburger {
        margin-bottom: 10px;
        display: none;
        z-index: 1;

        @media (max-width: 1030px) {
            display: block;
        }
    }
}
